{% extends 'babyStore/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-content w3-section" style="max-width:500px; margin-left: -10px">
  <img class="mySlides" src="{% static 'images/banner4.jpg' %}" style="width:230%;">
  <img class="mySlides" src="{% static 'images/run.jpg' %}" style="width:230%;">
  <img class="mySlides" src="{% static 'images/3.jpg' %}" style="width:230%;">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000); // Change image every 3 seconds
}
</script>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>R{{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
<div style="margin-left: 20vw">
  <p><strong>Developer : Pinks</strong></p>
</div><br />
{% endblock content %}


